
.container{
    max-width: 65vw;
    margin: 4.2rem auto;
    border:2px solid black;
    border-top: none;
    border-bottom: none;
    padding: 0 3rem;
}

.center{
    text-align: center;
}

@media screen and (max-width:700px) {
 
    .container{
        max-width: 85vw;
        
        padding: 0 0.7rem;
    }
    

}